/* body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    /* width: 1920px; */
} */
.social-icons i{
    padding-right: 15px;
  }
  .gold-stuff{
    color: #c0a878;
  }
  .contact-mid{
    /* background-color: #313131; */
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  .contact-color{
    background-color: #313131;
  }
  .ltr-spc{
    letter-spacing: 8px;
  }
 