.social-icons i{
    padding-right: 15px;
  }
  .gold-stuff{
    color: #c0a878;
  }
  .contact-mid{
    background-color: #313131;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  body{
    background-color: #313131;
  }
  .ltr-spc{
    letter-spacing: 8px;
  }