body {
    /* background-color: yellow; */
}
 
@media only screen and (max-width: 400px) {
    body {
        /* background-color: green; */
        text-align: center;
    }
    .nortsea-pic{
        width: 100%;
    }
    .hdr-group1.pt-3{
        visibility: hidden;
    }
/* .card-text{
    text-align: center;
} */
.btm-copy{
    text-align: end;
}
.nort-about p, .nort-about a{
    text-align: center;
}