body{
     background-color: black;
     margin: 0px;
     padding: 0px;
     width: 1920px;
}
.top-hdr{
    background-color: #212529;
}
.nortsea-pic{
    /* width: 80%; */
}
.phone-email p{
    display: inline-block;
  }
.text-white{
    color: white;
}
.nav-item{
    text-decoration: none;
    color: white;
}
.social-icons ul {
        list-style-type: none;
        padding: 15px;
}
li.social-icon {
    display: inline-block;
    margin: 10px 10px;
}
/* .social-icon i{
    color: white;
} */
.trans-bg{
    background:rgba(0,0,0,0.5);
    }
.sale-box{
    padding-top: 10%;
}
.btn-group{
    padding: 0px 5px 0px 5px;
}
.weather-card{
    background-color: #ffc107;
    height: 200px;
    width: 163px;
}
.gallery-card{
    background-color: gray;
    height: 126px;
    width: 163px;
}
.tour-card{
    background-color: white;
    height: 126px;
    width: 163px;
    color: gray;
}
.booking-form label{
    padding-right: 55px;
}