body{
    /* background-color: darkgray; */
}
.sales-body-bg{
    background-color: #363636;
  }
  .select-booking{
    height: 100px;
  }
  .weather-card{
      background: linear-gradient(to bottom right, #ebda8c, #eba51a);
      height: 200px;
      width: 163px;
  }
  .temp-text{
  /*   color: white;
    text-align: center; */
    font-size: 25px;
  }
  .sunny{
  /*     color: white; */
  /*   text-align: center; */
    font-size: 55px;
  }
  .gallery-card{
      background-color: gray;
       background: linear-gradient(to bottom right, #7e7e7e, #3d3d3d);
      height: 126px;
      width: 163px;
  }
  .tour-card{
      background-color: #ebebeb;
      height: 126px;
      width: 163px;
      color: gray;
  }
  .gallery-icon{
    height: 50px;
    width: 50px;
    }
  .hotel-feature{
       border-style: solid;
      border-width: 10px;
    margin: 10px 0px 0px 10px;
  }
  .black-sea-pic{
    font-family: "CinzelDecorative";
  }
  .read-more{
    color: black;
  }
  .read-more-white{
    color: white;
  }