body{
    /* background-color: #313131; */
  }
  .top-row-bg{
    background-color: #363636;
  }
  .main-row{
    /* background-color: #313131; */
  }
  .social-icons i{
      color: rgb(226, 214, 214);
  }
  .hdr-text-color{
      color: rgb(226, 214, 214);
  }
  .social-icons{
    border: 1px solid rgb(226, 214, 214);
    /* margin: 0px 0px 97px 10px; */
    padding: 5px 9px 8px 13px;
    border-radius: 2px;
  }
  .adr-pic{
      width: 20px;
      height: 20px;
  }
  .social-icons li{
      display: inline-block;
  }
  .li-block-disp li{
    display: inline;
    padding-right: 5rem;
}
table tr:nth-child(1){
    border: 0rem;
}
.li-block-disp li:last-child{
float: right;
}
.btm-copy{
    background-color: #3f3f3f;
}
.logo-pic{
    margin: 0;
    padding: 0;
    }
.main-row{
    color: #919191;
}
.phone-email li{
    padding-right: 15px;
    color: #919191;
  }
  .btn-color {
    background-color: #313131;
    border: 1px solid rgb(226, 214, 214);
    color: rgb(226, 214, 214);
    border-radius: 2px;
}
.gold-stuff{
    color: #c0a878;
  }
li a{
    color: rgb(226, 214, 214);
}
    